#content ul.breadcrumb {
    list-style: outside none none;
}

#content ul.breadcrumb > li {
    display:inline-block;
}

#content ul.breadcrumb > .active {
    color:#fff;
}

#actions-nav li {
    display:block
}

#content .box-name {
    cursor:default;
}

#content ul.nav {
    list-style:none;
}

#content-well.well {
    background:#fcfcfc;
}

.portlet {
    margin: 1px 0px 1em;
}

.portletCalendar .box-name i {
    display:none;
}

.portletCalendar .box-name {
    text-align:center;
}

.DV-views div span {
    height:31px;
}

.template-login_form #content #breadcrumb,
.template-logged_out #content #breadcrumb {
    text-align:left;
}

#context-nav .nav > li {
    display:inline-block;
}

#context-nav .nav > li > a {
    padding-top:6px;
    padding-bottom:6px;
    color: #fff;
}

#context-nav .nav > li > a:hover {
    background: inherit;
    text-decoration: underline;
}

.dropdown-menu > li > a:hover {
    background: #428bca;
    color: #fff;
}

#platocdp-info {
    font-size:10px;
    text-align:center;
    color:#fff;
    border-top:1px solid #c7c7c7;
    padding:5px;
}

#platocdp-info a {
    color:#ddd;
}
