#content ul.breadcrumb {
    list-style: outside none none;
}

#content ul.breadcrumb > li {
    display:inline-block;
}

#content ul.breadcrumb > .active {
    color:#fff;
}

#actions-nav li {
    display:block
}

#content .box-name {
    cursor:default;
}

#content ul.nav {
    list-style:none;
}

#content-well.well {
    background:#fcfcfc;
}

.portlet {
    margin: 1px 0px 1em;
}

.portletCalendar .box-name i {
    display:none;
}

.portletCalendar .box-name {
    text-align:center;
}

.DV-views div span {
    height:31px;
}
