#content ul.breadcrumb {
    list-style: outside none none;
    margin:0px;
    padding:10px 2px;
}

#content ul.breadcrumb > li {
    display:inline-block;
}

#content ul.breadcrumb > .active {
/*    color:#fff;*/
}

#actions-nav li {
    display:block
}

#content .box-name {
    cursor:default;
}

#content ul.nav {
    list-style:none;
}

#content-well.well {
    background:#fcfcfc;
}

.portlet {
    margin: 1px 0px 1em;
    box-shadow: 1px 2px 2px #c7c7c7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #c7c7c7;
}

.portletCalendar .box-name i {
    display:none;
}

.portletCalendar .box-name {
    text-align:center;
}

.DV-views div span {
    height:31px;
}

.template-login_form #content #breadcrumb,
.template-logged_out #content #breadcrumb {
    text-align:left;
}

#context-nav .nav {
    white-space:nowrap;
    position:relative;
    left:0px;
}

#context-nav .nav > li {
    display:inline-block;
    text-align:center;
    width:20%;
}

#context-nav .nav > li > a {
    padding-top:0px;
    padding-bottom:0px;
    color: #fff;
    opacity:0.6;
}

#context-nav .nav > li > a.active {
    padding-top:0px;
    padding-bottom:0px;
    color: #fff;
    border-bottom:3px solid #fff;
    opacity:1;
}

#context-nav .nav > li > a:hover {
    background: inherit;
    border-bottom:3px solid #fff;
    opacity:1;
}

.dropdown-menu > li > a:hover {
    background: #428bca;
    color: #fff;
}

#platocdp-info {
    font-size:10px;
    text-align:center;
    border-top:1px solid #c7c7c7;
    padding:5px;
}


#sidebar-heading {
    border-bottom:1px solid #c7c7c7;
}

#portal-logo {
    display:block;
}

#sidebar-heading #logo {
    margin:20px auto 20px auto;
    text-align:center;
}

.panel-menu .nav > li > a:hover, .panel-menu .nav > li > a:focus {
    background: #3F51B5;
}

.platocdp-contextnav-hidden #main {
    margin-top: 0px;
}
